<div class="container">
  <div class="image-section">
    <img
      src="https://cdn.pixabay.com/photo/2019/05/23/13/11/headphones-4223911_1280.jpg"
      alt="Welcome Image"
    />
  </div>
  <div class="login-container">
    <div class="header-text">
      <h1>Join Us Today!</h1>
      <p>
        Your journey to a better experience starts here. Log in to access your
        account.
      </p>
    </div>
    <h2>Welcome Back!</h2>
    <p>Please enter your credentials to continue.</p>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="userName"
          name="userName"
          required
          placeholder="Enter your username"
          [(ngModel)]="userName"
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Enter your password"
          [(ngModel)]="password"
        />
      </div>
      <button type="submit" (click)="login()">Login</button>

      <div [ngClass]="errorClass" *ngIf="error">
        {{ error }}
      </div>
    </form>
    <p class="footer-text">
      Don't have an account? <a href="/register">Sign up here</a>.
    </p>
  </div>
</div>
